body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:#eeb242;
}

section{
    display:flex;
}

.half-width{
    width:50%;
    padding-left: 5%;
}

.half-width img{
    width:85%;
}

.link-button{
   text-decoration: none;
  
  background-image: linear-gradient(rgb(247, 178, 51),rgb(216, 72, 36));
   color:white;
   padding:10px 40px;
   border-radius: 5px;
   font-weight: 700;
   
}